{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="col s3 m3">
    <h3>
      {{ resource['name'] }}
    </h3>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <form class="col s12" id="ticketForm">
          <div class="input-field col s12">
            <i class="material-icons prefix">info_outline</i>
            <input id="title" type="text">
            <label for="title">Titulo</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">perm_identity</i>
            <input id="asignee" type="text" class="autocomplete">
            <label for="asignee">¿A quién se le asigna el ticket?</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">perm_identity</i>
            <input id="reporter" type="text" class="autocomplete">
            <label for="reporter">¿Quién reporta el problema?</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="description" class="materialize-textarea"></textarea>
            <label for="description">Problema a reportar</label>
          </div>
      </form>
      <center>
        <a id='submitForm' class="waves-effect waves-light btn" onclick="createTicket()"><i class="material-icons left">add</i>Guardar</a>
      </center>
    </div>
  </div>
  <div class="row">
    <div id="tickets">
    </div>
  </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $(function() {
    loadTickets();
    setUserNamesForAutoComplete();
  });
</script>
{% endblock %}